.about-me{
    height: 70vh;
    background: url("/images/pics7.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me span{
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.482);
    letter-spacing: 5px;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.234);
}
.profile-section{
    padding: 100px 0;
}
.profile{
    width: 50vw;
    margin: 0 auto;
    display: flex;
}
.profile-col{
    flex: 1;
    padding: 30px;
}
.profile-col img{
    width: 300px;
    height: 400px;
}




.services-section{
    text-align: center;
}
.profile-services{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.profile-service{
    padding: 20px 10px;
    border-radius: 3px;
    background-color: rgba(95, 158, 160, 0.03);
}
.profile-service i{
    font-size: 45px;
    color: rgba(255, 0, 128, 0.767);
}





.education{
    display: flex;
    margin: 20px 0;
}
.edu-column{
    flex: 1;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-edu-column, .inner-wrk-column{
    width: 50%;
    padding: 10px 40px;
    text-align: center;
}
.inner-edu-column-2{
    background-color: white;
}
.edu-item{
    margin: 40px 0;
}
.inner-edu-column-2 h4{
    margin-bottom: 2px;
    color: rgba(255, 0, 128, 0.767);
}
.inner-edu-column-2 h3{
    margin: 2px 0;
}
.inner-edu-column-2 p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.633);
}
.edu{
    background-color: rgba(67, 67, 67, 0.04);
}
.wrk{
    background-color: rgba(0, 0, 0, 0.079);
}




.gallery{
    text-align: center;
}
.gallery-pics{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
}
.gallery-pics img{
    width: 100%;
}


/* profile */
.profiles,.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .profile-acc{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
  }
  .profile-a{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid rgba(60, 60, 60, 0.184);
    border-top: none;
    border-right: none;
  }
  .profile-a:first-child{
    border-left: none;
  }
  
  .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.5s ease;
  }
  .profile-a:hover .overlay{
    background-color: #0056b3;
    transform: translate(-50%,-50%) scale(1);
    color: white;
  }
  .profile-a:hover .overlay i:first-child,
  .profile-a:hover .overlay i:last-child{
    color: white;
  }
  .profile-a a{
    text-decoration: none;
  }
  




@media (max-width: 768px){
    .education {
        flex-direction: column;
      }
      .edu-column{
        padding: 10px;
      }
      .inner-edu-column, 
      .inner-wrk-column{
        padding: 10px;
        width: 80%;
      }
  }






@media only screen and (max-width: 768px) {
    .profile{
        flex-direction: column;
        width: 100vw;
    }
    .profile-section{
        padding: 30px 0;
    }
    .profile-services{
        padding: 20px;
    }
}