body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .fixed-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.071);
    border-radius: 10px;
    box-shadow: .5px .5px 10px rgba(0, 0, 0, 0.221);
  }
  
  .menu-link {
    color: #212121;
    text-decoration: none;
    padding: 10px;
    position: relative;
    font-size: 12px;
  }
  .menu-link:hover{
    color: #0056b3;
  }
  .menu-link:hover span {
    width: 100%;
  }
  
  .menu-link span {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #0056b3;
    width: 0;
    transition: width 0.3s ease;
  }
  
  .menu-link i {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .fixed-menu {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #f2f2f2;
      padding: 5px 0;
      flex-direction: row;
      justify-content: space-around;
    }
    .menu-link {
      margin: 0;
      padding: 10px;
      width: 18%;
      text-align: center;
      position: relative;
    }
    .menu-link i {
      display: none;
    }
  }
  