*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(32, 31, 31);
}

main{
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-left,.main-right{
    flex: 1;
    padding: 10px;
}
.main-left{
    display: flex;
    justify-content: center;
    align-items: start;
    background: url("images/lilian.jpeg");
    background-position: center;
    background-size:cover;
}
.main-left h1{
    margin-top: 80px;
    letter-spacing: 10px;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}


/* Main right */
.main-right{
    background-color: rgba(255, 0, 128, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 5vw;
}
.head{
    letter-spacing: 2px;
}
.head span{
    font-size: 80px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main-right h5{
    color: rgba(255, 255, 255, 0.815);
    font-weight: 100;
    font-size: 24px;
}

.main-right p{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}






@media (min-width: 1024px){
    .main-right p{
        width: 300px;
    }
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
   main{
        height: 100vh;
    }
} */

@media (max-width: 1023px){
    main{
        height: 100vh;
    }
    .main-left{
        height: 50%;
    }
    .main-right{
        height: 50%;
    }
    .main-right p{
        width: 300px;
        font-size: 14px;
    }
    .main-right h5{
        font-size: 18px;
    }
    .head span{
        font-size: 44px;
    }

    .main-left h1{
        margin-top: 35px;
        font-size: 16px;
        font-weight: 700;
    }
}




