
.container{
  max-width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.column {
  flex-basis: calc(25% - 20px);
  background-color: #d3a35c69; /* Brownish gold color */
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219);
}

.column:nth-child(even) {
  background-color: #ff999933; /* Lighter brownish gold color */
}

.column:hover{
  background-color: #ffe4e1;
}

@media only screen and (max-width: 768px) {
  .container{
    padding: 30px 20px;
  }
  .column {
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .column {
    flex-basis: 100%;
  }
}
  
h2 {
  font-size: 24px;
  color: black;
}

.description {
  color: black;
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

.read-more {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #000000; /* Pinkish color */
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.read-more:hover {
  background-color: #a7687b; /* Lighter pinkish color */
}







.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 50px;
  height: 70vh;
}
.about-container .columns {
  flex: 1;
  min-width: 200px;
  padding: 20px 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.image {
  background: url("images/main2.jpg");
  background-position: center;
  background-size: cover;
}

.section {
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
}

.content {
  font-size: 16px;
  margin-bottom: 10px;
}


.icons {
  vertical-align: middle;
  margin-right: 5px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
}

.action-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .about-container .columns {
      flex: 1 1 100%; /* Make each column take up the full width */
      padding: 5px;
      margin-top: 10px;
  }
  .about-container .columns:first-child{
    height: 50vh;
  }
  .about-container {
      height: auto; /* Reset height for mobile phones */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container .columns {
      flex-basis: 45%; /* Make each column take up 45% of the width */
      padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .about-container .columns {
      flex-basis: 30%; /* Make each column take up 30% of the width */
  }
}













.container3 {
  text-align: center;
  max-width: 800px;
  margin: 150px auto;
}

.container3 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container3 p {
  font-size: 16px;
  color: #666;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.icon {
  margin: 0 10px;
  flex: 0 1 calc(20% - 20px); /* 20% width for each icon */
}

.icon i{
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #d3a45c; /* Brownish gold color */
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.icon i:hover {
  transform: scale(1.1);
}

.icon-description {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #888;
}

.container3 a {
  padding: 10px 20px;
  background-color: black; /* Brownish gold color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.container3 a:hover {
  background-color: #b28646; /* Darker shade of brownish gold color */
}

/* Media Queries for Tablet and Mobile */
@media only screen and (max-width: 768px) {
  .icon {
    flex: 0 1 calc(33.33% - 20px); /* 33.33% width for each icon */
  }
}

@media only screen and (max-width: 480px) {
  .icon {
    flex: 0 1 calc(50% - 20px); /* 50% width for each icon */
    margin: 0 5px;
  }
  .icon i{
    font-size: 20px;
  }
  .icon-description{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .container3 {
    margin: 30px auto;
    padding: 10px;
  }
}







/* Portfolio */
.portfolio-section {
  text-align: center;
  padding: 20px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.portfolio-item {
  position: relative;
  width: calc(33.33% - 40px); /* Three columns per row with some margin */
  max-width: 300px; /* Maximum width of each column */
  height: 200px; /* Fixed height of each column */
  margin: 20px;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.portfolio-details {
  position: absolute;
  top: 0;
  left: -120%; /* Initially positioned outside */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 128, 0.315);
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.portfolio-item:hover .portfolio-details {
  left: 0; /* Slide in from the left on hover */
}

.view-button {
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.view-button:hover{
  background-color: #b28646;
}
/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .portfolio-item {
      width: calc(50% - 40px); /* Two columns per row with some margin */
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
      width: calc(100% - 40px); /* Single column per row with some margin */
  }
}



.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}


.contact-form{
  width: 70%;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}
.contact-form .view-button{
  background-color: #a7687b;
}
.contact-form .view-button:hover{
  background-color: #b28646;
}
.footer-column h3 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}
.footer-column ul li a:hover{
  color: #b28646;
}
.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-social-icons a i:hover {
  color: #b28646;
}

.footer-bottom {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .footer-column h3{
    font-size: 12px;
  }
  .footer-social-icons a{
    font-size: 16px;
  }
  .footer-column ul li a{
    font-size: 14px;
  }
  .contact-form{
    width: 100%;
    padding: 5px;
  }
  .contact-form .view-button{
    padding: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
      width: calc(100% - 40px); /* Single column per row with some margin */
  }
}
